//Theme Colors
// $bg-dark: #0f172a;
$bg-dark: #000000;
$bg-card: rgba(30, 41, 59, 0.7); // Glass effect
// $primary: #3b82f6;
$primary: #000000;
$primary-hover: #2563eb;
$success: #10b981;
$error: #ef4444;
$text-main: #f8fafc;
$text-muted: #94a3b8;

// Mixins for Glassmorphism
@mixin glass-card {
  background: $bg-dark;
  // background: $bg-card;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}

// Mixins for Flex centering
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
